* {
	box-sizing: border-box;
}

body {
	background-color: gray;
}

.row-2 {
	float: left;
	width: 50%;
}

.row-10 {
	float: left;
	width: 10%;
	padding-top: 10%;
}

#container {
	margin: auto;
	width: 500px;
	height: 500px;
}

canvas {
	margin: auto;
	display: block;
}